*{
  margin: 0;
  padding: 0;
}
.clear::after{
  content: "";
  clear: both;
  display: block;

}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
img{
  max-width: 100%;
}
.left{
  float: left;
}
.right{
  float: right;
}
a{
  text-decoration: none;
}
.mid-content{
  max-width: 1300px;
  margin: auto;
}


/* Begin main css */

body,h1,h2,h3,h4,h5,h6,p,a,span{
  font-family: 'Work Sans', sans-serif;
}
.header-section{
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
}
.header-section a{
  color: #010101;
}
.header-logo{
  width: 30%;
}
.logo img{
  height: 60px;
  float: left;
  margin-right: 10px;
}
.logo span{
  display: inline-block;
  margin-top: 15px;
  font-size: 25px;
  font-weight: 600;
}
.header-menu{
  width: 56%;
}
.header-button{
  width: 14%;
  text-align: right;
}
.header-btn{

    display: inline-block;
    border: 3px solid #6784f7;
    padding: 5px 10px;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 20px;
    color: #bc61d8 ! important;
    font-weight: 500;
}
.header-btn:hover{
  color: #fff ! important;
  background-color: #000;
}
.primary-menu{

}
.primary-menu ul{

}
.primary-menu ul li{
  display: inline-block;

}
.primary-menu ul li a{
  display: block;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 450;
  line-height: 54px;
}
.primary-menu ul li a:hover{
  color: #bc61d8;
}


/* Dropdown menu */

.primary-menu ul li{
  position: relative;
}
.primary-menu ul li ul{
  position: absolute;
  left: 0;
  top: 100%;
  background: #fff;
  width: 300px;

  opacity: 0;
  visibility: hidden;

  transform: scaleY(0);
  transform-origin: top center;

}
.primary-menu ul li:hover ul{
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}


/* Banner section */

.banner-section{
  background: url(./img/product-bg.jpg) no-repeat center center;
  background-size: cover;
  padding: 200px 0;
  color: #fff;

  position: relative;
  z-index: 9;
}
.banner-section::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: -1;
}
.banner-content{

}
.banner-content h3{
  font-size: 25px;
font-weight: 500;
}
.banner-content h2{
  font-size: 45px;
  font-weight: 800;
  margin: 32px 0;
}
.default-btn{
  color: #bc61d8;
     background: #fff;
     display: inline-block;
     padding: 15px 20px;
     font-size: 22px;
     font-weight: 600;
     margin-left: 5px;
     margin-right: 5px;
     border-radius: 10px;
     margin-top: 20px;
}
.default-btn:hover{
  background: #000;
  color: #fff;
}

/* Banner Bottom */


.banner-bottom{
 background: #f7f9ff;
 padding: 100px 0;
}
.video-left{
  width: 48%;
}
.video-content-right{
  width: 48%;
}
.video-content-right h2{
  font-size: 40px;
      font-weight: 700;
      margin-bottom: 20px;
}
.video-content-right p{
  padding: 10px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5em;
  text-align: justify;
}



/* service section */

.service-section{
  background: #fff;
  padding: 100px 0;
}

.section-title h1{
  font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}
.section-title p{
  font-size: 30px;
color: #424040;
font-weight: 300;
}


/* service item */

.services-items{
margin-top: 30px;
}
.service-box{
  width: 31.3%;
  box-shadow: 4px 4px 20px 0 rgba(0,0,0,.1);
  margin-right: 2%;
  margin-bottom: 30px;
  padding: 20px;
  box-sizing: border-box;
}
.s-icon{
width: 50px;
float: left;
height: 100px;
font-size: 40px;
    color: #535adb;
    margin-right: 10px;
}
.s-content{
margin-top: 4px;
}
.s-content h3{
  font-size: 20px;
      margin-bottom: 19px;
}
.s-content p{
    line-height: 1.5em;
    color: #767676;
    font-size: 20px;
}
